@import url("https://fonts.googleapis.com/css?family=Exo+2");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
/* line 3, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'Exo 2';
}

/* line 14, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
nav {
  display: flex;
  justify-content: flex-end;
  background: #1a1a1a;
  height: 7%;
  position: fixed;
  width: 100%;
  top: 0px;
}

/* line 22, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 60%;
  font-size: 20px;
}

/* line 30, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
nav ul li {
  margin: auto;
}

/* line 34, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil {
  background-image: url("../BG.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* line 41, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

/* line 47, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil .title h1 {
  font-size: 90px;
  font-weight: semibold;
}

/* line 50, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil .title p {
  font-size: 30px;
  text-align: center;
}

/* line 54, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil .arrow {
  display: flex;
  justify-content: center;
}

/* line 57, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil object {
  height: 70px;
}

/* line 59, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil object:hover {
  color: black;
}

@media screen and (max-width: 700px) {
  /* line 63, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
  nav {
    font-size: 14px;
  }
  /* line 65, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
  nav ul {
    width: 100%;
    padding: 0;
  }
}

/* line 71, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
h2 {
  display: flex;
  justify-content: center;
  margin: 0 0 2em 0;
  font-size: 50px;
}

/* line 77, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.projets {
  height: auto;
  background: radial-gradient(#081c4f, #1a1a1a);
  font-family: 'Exo 2';
  color: white;
}

/* line 83, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.projets #projets-type {
  display: flex;
  justify-content: space-around;
}

/* line 86, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.projets #projets-type img {
  height: 200px;
  width: 218px;
}

/* line 89, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.projets #projets-type figcaption {
  font-size: 35px;
  display: flex;
  justify-content: center;
}

/* line 93, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.project-card {
  display: flex;
  justify-content: space-around;
  padding: 10% 0;
}

/* line 101, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.card {
  background-color: white;
  color: #1a1a1a;
  display: block;
  width: 200px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  transition: 0.5s box-shadow;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

/* line 111, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.card img {
  border-radius: 10px 10px 0 0;
}

/* line 114, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.hidden {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 10px;
  color: white;
}

/* line 127, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.card:hover {
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.5);
}

/* line 129, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.card:hover .hidden {
  height: 100%;
}

/* line 141, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20%;
  background-color: #1A1A1A;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}

/* line 150, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact h2 {
  margin: auto;
}

/* line 152, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 30px;
}

/* line 158, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 162, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* line 169, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.icon-paperplane {
  font-size: 1em;
  color: white;
  margin-left: 1px;
  margin-top: 5px;
}

/* line 176, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1em;
  border: 2px solid white;
  border-radius: 4px;
  padding: 20px 60px 20px 60px;
  transition: 0.3s ease-in-out;
}

/* line 192, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button span {
  text-transform: none;
  position: absolute;
  color: #081C4F;
  top: 20px;
  left: 35px;
  opacity: 0;
  transition: all 0s ease 0s;
  padding: auto;
}

/* line 202, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
}

/* line 208, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
}

/* line 213, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button:hover:before {
  transition: 0.3s ease-in-out;
  background-color: #081C4F;
}

/* line 218, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button:before, .contact-button:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 100px;
  height: 25px;
}

/* line 226, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button:before {
  border: 2px solid #081C4F;
  background-color: #1A1A1A;
  transform: skew(-25deg);
  transition: 0.3s ease-in-out;
}

/* line 233, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button:after {
  content: "Disponible";
  font-size: 0.5em;
  top: -7px;
  left: 0px;
  color: white;
}

/*# sourceMappingURL=../css/index.map */