<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css?family=Exo+2");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
/* line 3, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'Exo 2';
}

/* line 14, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
nav {
  display: flex;
  justify-content: flex-end;
  background: #1a1a1a;
  height: 7%;
  position: sticky;
  top: 0px;
}

/* line 21, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 60%;
  font-size: 20px;
}

/* line 29, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
nav ul li {
  margin: auto;
}

/* line 33, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil {
  background-image: url("../BG.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* line 40, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

/* line 46, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil .title h1 {
  font-size: 90px;
  font-weight: semibold;
}

/* line 49, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil .title p {
  font-size: 30px;
  text-align: center;
}

/* line 53, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil .arrow {
  display: flex;
  justify-content: center;
}

/* line 56, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil object {
  height: 70px;
}

/* line 58, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil object:hover {
  color: black;
}

@media screen and (max-width: 700px) {
  /* line 62, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
  nav {
    font-size: 14px;
  }
  /* line 64, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
  nav ul {
    width: 100%;
    padding: 0;
  }
}

/* line 70, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
h2 {
  display: flex;
  justify-content: center;
  margin: 0 0 2em 0;
  font-size: 50px;
}

/* line 76, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.projets {
  height: 100%;
  background: radial-gradient(#081c4f, #1a1a1a);
  font-family: 'Exo 2';
  color: white;
}

/* line 82, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.projets #projets-type {
  display: flex;
  justify-content: space-around;
}

/* line 85, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.projets #projets-type img {
  height: 200px;
  width: 218px;
}

/* line 88, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.projets #projets-type figcaption {
  font-size: 35px;
  display: flex;
  justify-content: center;
}

/* line 102, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20%;
  background-color: #1A1A1A;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}

/* line 111, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact h2 {
  margin: auto;
}

/* line 113, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 30px;
}

/* line 119, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 123, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* line 130, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.icon-paperplane {
  font-size: 1em;
  color: white;
  margin-left: 1px;
  margin-top: 5px;
}

/* line 137, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1em;
  border: 2px solid white;
  border-radius: 4px;
  padding: 20px 60px 20px 60px;
  transition: 0.3s ease-in-out;
}

/* line 153, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button span {
  text-transform: none;
  position: absolute;
  color: #081C4F;
  top: 20px;
  left: 35px;
  opacity: 0;
  transition: all 0s ease 0s;
  padding: auto;
}

/* line 163, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
}

/* line 169, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
}

/* line 174, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button:hover:before {
  transition: 0.3s ease-in-out;
  background-color: #081C4F;
}

/* line 179, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button:before, .contact-button:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 100px;
  height: 25px;
}

/* line 187, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button:before {
  border: 2px solid #081C4F;
  background-color: #1A1A1A;
  transform: skew(-25deg);
  transition: 0.3s ease-in-out;
}

/* line 194, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.contact-button:after {
  content: "Disponible";
  font-size: 0.5em;
  top: -7px;
  left: 0px;
  color: white;
}

/*# sourceMappingURL=../css/index.map */
=======
@import url("https://fonts.googleapis.com/css?family=Exo+2");@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);html,body{margin:0;padding:0;height:100%;width:100%;color:white;font-family:'Exo 2'}.accueil{background-image:url("../BG.png");background-repeat:no-repeat;background-position:center;height:100%;width:100%}.accueil nav{display:flex;justify-content:flex-end;background:#1a1a1a;height:7%;position:sticky;top:0px}.accueil nav ul{margin:0;list-style:none;display:flex;justify-content:flex-end;width:60%;font-size:20px}.accueil nav ul li{margin:auto}.accueil .title{display:flex;flex-direction:column;justify-content:center;align-items:center;height:80%}.accueil .title h1{font-size:90px;font-weight:semibold}.accueil .title p{font-size:30px}.accueil .arrow{display:flex;justify-content:center}.accueil object{height:70px}.accueil object:hover{color:black}@media screen and (max-width: 700px){.accueil nav{font-size:14px}.accueil nav ul{width:100%;padding:0}}h2{display:flex;justify-content:center;margin:0 0 2em 0;font-size:50px}.projets{height:auto;background:radial-gradient(#081c4f, #1a1a1a);font-family:'Exo 2';color:white}.projets #projets-type{display:flex;justify-content:space-around}.projets #projets-type img{height:200px;width:218px}.projets #projets-type figcaption{font-size:35px;display:flex;justify-content:center}.project-card{display:flex;justify-content:space-around;padding:10% 0}.card{background-color:white;color:#1a1a1a;display:block;width:200px;box-shadow:0 0 25px rgba(0,0,0,0.5);transition:.5s box-shadow;text-align:center;border-radius:10px;position:relative}.card img{border-radius:10px 10px 0 0}.hidden{position:absolute;bottom:0;left:0;right:0;background-color:rgba(0,0,0,0.9);overflow:hidden;width:100%;height:0;transition:.5s ease;border-radius:10px;color:white}.card:hover{box-shadow:0 0 35px rgba(255,255,255,0.5)}.card:hover .hidden{height:100%}.contact{display:flex;flex-direction:column;align-items:center;justify-content:space-around;height:20%;background-color:#1A1A1A;-webkit-font-smoothing:antialiased;font-size:18px}.contact h2{margin:auto}.buttons{display:flex;width:100%;justify-content:space-around;margin:30px}*,*:before,*:after{box-sizing:border-box}.icon{display:inline-block;width:1em;height:1em;fill:currentColor}.icon-paperplane{font-size:1em;color:#fff;margin-left:1px;margin-top:5px}.contact-button{position:relative;-webkit-perspective:1000;-webkit-backface-visibility:hidden;color:#fff;text-decoration:none;text-transform:uppercase;font-family:'Raleway', sans-serif;font-weight:500;font-size:1em;border:2px solid #fff;border-radius:4px;padding:20px 60px 20px 60px;transition:0.3s ease-in-out}.contact-button span{text-transform:none;position:absolute;color:#081C4F;top:20px;left:35px;opacity:0;transition:all 0s ease 0s;padding:auto}.contact-button:hover{transition:0.3s ease-in-out;border:2px solid #fff;border-radius:50px;background-color:#fff}.contact-button:hover>span{opacity:1;transition:all 0.25s ease-in-out 0.1s}.contact-button:hover:before{transition:0.3s ease-in-out;background-color:#081C4F}.contact-button:before,.contact-button:after{content:"";position:absolute;top:-14px;left:-12px;width:100px;height:25px}.contact-button:before{border:2px solid #081C4F;background-color:#1A1A1A;transform:skew(-25deg);transition:0.3s ease-in-out}.contact-button:after{content:"Disponible";font-size:0.5em;top:-7px;left:0px;color:#fff}
>>>>>>> e57a9f85aceaa059055ab3fce80d7e25fc23d398
