@import url("https://fonts.googleapis.com/css?family=Exo+2");
/* line 3, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* line 13, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil {
  background-image: url("../BG.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'Exo 2';
}

/* line 22, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil nav {
  display: flex;
  justify-content: flex-end;
  background: #1a1a1a;
  height: 7%;
  position: sticky;
  top: 0px;
}

/* line 29, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 60%;
  font-size: 20px;
}

/* line 37, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil nav ul li {
  margin: auto;
}

/* line 40, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

/* line 46, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil .title h1 {
  font-size: 90px;
  font-weight: semibold;
}

/* line 49, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil .title p {
  font-size: 30px;
}

/* line 52, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil .arrow {
  display: flex;
  justify-content: center;
}

/* line 55, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil object {
  height: 70px;
}

/* line 57, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.accueil object:hover {
  color: black;
}

@media screen and (max-width: 700px) {
  /* line 62, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
  .accueil nav {
    font-size: 14px;
  }
  /* line 64, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
  .accueil nav ul {
    width: 100%;
    padding: 0;
  }
}

/* line 71, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.projets {
  heigth: 100%;
  background: radial-gradient(#081c4f, #1a1a1a);
  font-family: 'Exo 2';
  color: white;
}

/* line 76, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.projets h1 {
  display: flex;
  justify-content: center;
  margin: 0 0 2em 0;
  font-size: 50px;
}

/* line 82, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.projets #projets-type {
  display: flex;
  justify-content: space-around;
}

/* line 85, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.projets #projets-type img {
  height: 200px;
  width: 218px;
}

/* line 88, C:/Users/Thomas/Desktop/Projets/Jash/Programme/sass/index.sass */
.projets #projets-type figcaption {
  font-size: 35px;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=../css/index.map */